---
layout: article
---
<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h1 class="page-title" style="text-align:center">{{ page.title }}</h1>
        <article class="blogpost full">
          <div class="blogpost-content">
            <p style="text-align:center"><img src="/images/partners/{{ page.image }}.jpg" alt="{{ page.title }}"></p>
            <div style="text-indent:2em">
			        {{ content }}
			      </div>
            <p align="center"><a href="http://{{ page.website }}" target="_blank" class="btn btn-default btn-hvr hvr-shutter-out-horizontal margin-clear">浏览{{ page.title }}官网</a></p>
		      </div>
		    </article>
	    </div>
	  </div>
  </div>
</section>
